<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Song To Album</title>
</head>
<body>

<h2>Add Song to an Album</h2>

<form method="POST" action="/songs">
    <p><label for="title">Song Title:</label><input name="title" id="title"/></p>
    <p><label for="album">Album Title:</label><input name="album" id="album" /></p>
    <p><label for="length">Length (in seconds):</label><input name="length" id="length" /></p>
    <p><label for="trackNumber">Track #:</label><input name="trackNumber" id="trackNumber" /></p>

    <input type="submit" />
</form>


</body>
</html>