<!DOCTYPE html>
<html lang="en" xmlns:th="http://www,thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
</head>
<body>

<header>
    <h1>Albums</h1>
</header>

    <ul>
        <li th:each="album : ${albums}">
            <img th:src="@{${album.imageUrl}}" th:width="300"/>
            <p>Album Title: <span th:text="${album.title}"></span></p>
            <p>Artist: <span th:text="${album.artist}"></span></p>
            <p><span th:text="${album.songCount}"></span></p>
            <p><span th:text="${album.length}"></span></p>
        </li>
    </ul>



</body>
</html>