<!DOCTYPE html>
<html lang="en" xmlns:th="http://www,thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Songs</title>
</head>
<body>

<header>
    <h1>Songs</h1>
</header>

<ul>
    <li th:each="song : ${songs}">
        <p>Song Title: <span th:text="${song.title}"></span></p>
        <p>Artist: <span th:text="${song.album.artist}"></span></p>
        <p>Album: <span th:text="${song.album.title}"></span></p>
        <p>Track #: <span th:text="${song.trackNumber}"></span></p>
        <p>Length: <span th:text="${song.length}"></span></p>
    </li>
</ul>

</body>
</html>